body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
header{
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    
    .inner-header{
      padding: 10px 40px;
      display: inline;
      border-bottom: 1px solid gray;
    }
}

footer{
  font-size: 13px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: gray;

  .inner-footer{
    padding: 10px 40px;
    display: inline;
    border-top: 1px solid gray;
  }
}

.taskbar-add-button {
    &:hover {
      .fas {
        color: blueviolet;
      }
      color: black;
    }
    .fas {
      color: #b56df9;
    }
    color: gray;
    cursor: pointer;
    padding: 4px;
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
}